{% extends ('base.html.twig') %}
{% block title %}Artystycznie - Twoje konto{% endblock %}
{% block head %}
    <link href="{{ asset('styles/account.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="title">
    Twoje konto
</div>
    <div class="user_data">
        <table>
            <tr>
                <td>Nazwa użytkownika: </td>
                <td>{{ app.user.username }}</td>
            </tr>
            <tr>
                <td>Adres email: </td>
                <td>{{ app.user.email }}</td>
            </tr>
        </table>
        <a href="{{ path('edit') }}">Edytuj Dane</a>
    </div>

{% endblock %}