{% extends ('base.html.twig') %}
{% block title %}Artystycznie - O mnie{% endblock %}
{% block head %}
    <link href="{{asset('styles/about.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <div class="title_about">O mnie</div>

    <div class="content_about">
        <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Ut congue
        laoreet enim, in molestie eros varius a. Suspendisse
        finibus lacus lacus, ac maximus elit gravida in. Nulla vitae
        venenatis nulla, in porta odio. Donec pharetra condimentum est eget
        tincidunt. Curabitur facilisis neque ac orci convallis condimentum. P
        roin id nulla et sapien molestie tincidunt. Phasellus sed dolor nec u
        rna gravida consectetur malesuada vel purus.</p>

        <p>Fusce vel fermentum est, eu auctor dolor. Aliquam erat volutpat. Nullam eget elit
            tempus, iaculis erat sed, consequat dui. Morbi fermentum vestibulum lectus, nec fa
            cilisis purus sagittis a. Nam et lectus hendrerit nisl sollicitudin lacinia. Duis in
            ipsum quis felis iaculis condimentum. Ut blandit vel mauris et efficitur. Nunc in mi i
            nterdum, convallis ipsum eu, mattis neque.</p>
    <p class="mnie">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Ut congue
        laoreet enim, in molestie eros varius a. Suspendisse
        finibus lacus lacus, ac maximus elit gravida in. Nulla vitae
        venenatis nulla, in porta odio. Donec pharetra condimentum est eget
        tincidunt. Curabitur facilisis neque ac orci convallis condimentum. P
        roin id nulla et sapien molestie tincidunt. Phasellus sed dolor nec u
        rna gravida consectetur malesuada vel purus.</p>

    <p>Fusce vel fermentum est, eu auctor dolor. Aliquam erat volutpat. Nullam eget elit
        tempus, iaculis erat sed, consequat dui. Morbi fermentum vestibulum lectus, nec fa
        cilisis purus sagittis a. Nam et lectus hendrerit nisl sollicitudin lacinia. Duis in
        ipsum quis felis iaculis condimentum. Ut blandit vel mauris et efficitur. Nunc in mi i
        nterdum, convallis ipsum eu, mattis neque.</p>
    </div>
{% endblock %}