{% block head %}
    <link href="{{ asset('styles/footer.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
<footer>
    <ul>
        <li>Joanna Jagiełło</li>
        <li>E-mail:<a href="mailto:j.jagiello@autograf,pl">j.jagiello@autograf.pl</a></li>
        <li>tel:<a href="callto:602582128"> 602-582-128</a></li>
        <a href="www.facebook.com" target="blank"><img src="images/fbb-kopia.png" height="28" align="right" /></a>
        <a href="instagram.com" target="blank"><img src="images/inss.png" height="28" align="right"/></a>
    </ul>
</footer>
